:root {
    --font-sans-serif: Instrument Sans, sans-serif;
    --black: #000000;
    --white: #ffffff;
    --gray-dark: #494b50;
    --gray-med: #73787e;
    --gray-light: #d0d2d4;
    --blue-dark: #073370;
    --blue-med: #0e5fd3;
    --blue-light: #95bff8;
}

body {
    background-color: #ffffff;
    color: var(--gray-dark);
    font-family: var(--font-sans-serif);
    font-size: 112px;
    font-weight: 100;
}
    

a {
    color: var(--blue-med);
    font-family: var(--font-sans-serif);
}

h1 {
    font-family: var(--font-sans-serif);
    font-size: 100px;
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-sans-serif);

}

img {
    max-width: 50%;
    display: block;
}

.components__img {
    width: 1300px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1px;
}
.button--primary {
    background-color: transparent;
    border: .5px solid black;
    border-radius: 0.5rem;
    width: 30px;
    padding: 6px;
    padding-top: 4px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.screenshot {
    max-width: 100%;
    border: 1px solid black;
}