:root {
    --font-sans-serif: Instrument-sans, sans-serif;
    --black: #000000;
    --white: #ffffff;
    --gray-dark: #494b50;
    --gray-med: #73787e;
    --gray-light: #d0d2d4;
    --blue-dark: #073370;
    --blue-med: #0e5fd3;
    --blue-light: #95bff8;
}

body {
    background-color: #ffffff;
    font-family: var(--font-sans-serif);
}

a {
    color:#0e5fd3;
    font-family: sans-serif;
}