<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet" />
        <title>WHCC</title>
    </head>
    
    <body>
        <p>Web Components</p>
        <h1>Image</h1>
        <img src="../components/WHCC_1_Holiday--HeaderNavHero.png" alt="screenshot from WHCC website">
        <h1>Source Code</h1>
        <header class="header">
            <div class="container">
                <section class="example">
                    <img src="./Nav.png" height="150" alt="example banner">
                </section>

                <section class="memo-banner">
                    <h1>
                        Plan for holiday delivery—follow our <a href="index.html">Holiday Ordering Guidelines  →</a>
                    </h1>
                </section>

                <section class="nav">
                    <h2>
                        <nav>
                            <a href="index.html"><img src="" class="logo" alt="logo for White House Custom Color"></a>
                            <ul class="nav-bar--left">
                                <li class="nav-bar--item"><a href="index.html">Holiday</a></li>
                                <li class="nav-bar--item"><a href="index.html">Prints</a></li>
                                <li class="nav-bar--item"><a href="index.html">Albums & Books</a></li>
                                <li class="nav-bar--item"><a href="index.html">Wall Art</a></li>
                                <li class="nav-bar--item"><a href="index.html">Cards</a></li>
                                <li class="nav-bar--item"><a href="index.html">All Products</a></li>
                            </ul>
                            <ul class="nav-bar--right">
                                <li class="nav-bar--item"><a href="index.html">Wall Art</a></li>
                                <li class="nav-bar--item"><a href="index.html">Cards</a></li>
                                <li class="nav-bar--item"><a href="index.html">All Products</a></li>
                            </ul>
                        </nav>
                    </h2>
                </section>
            </div>
        </header>
            <h3 class="component__name">body</h3>
            <div class="component__img">
                <img src="../components/WHCC_1_--Body.png">
            </div>
            <div class="component__code">
                <body>
                    We&#39;ve got your holidays covered with these 6 photographer-inspired favorites! From a couple of our best sellers to affordable must-haves, we&#39;ll make your gift-giving easy.
                </body>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">h1</h3>
            <div class="component__img">
                <img src="../components/WHCC_1_--H1.jpg">
            </div>
            <div class="component__code">
                <h1>
                    We&#39;ve got your holidays covered with these 6 photographer-inspired favorites! From a couple of our best sellers to affordable must-haves, we&#39;ll make your gift-giving easy.
                </h1>
            </div>
        </article>
    </body>
</html>
