<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WHCC</title>
        <link href="./main.css" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__img">
                <img src="../components/WHCC_1_--Body.png">
            </div>
            <div class="component__code">
                <h1>
                    We&#39;ve got your holidays covered with these 6 photographer-inspired favorites! From a couple of our best sellers to affordable must-haves, we&#39;ll make your gift-giving easy.
                </h1>
            </div>
        </article>
    </body>
</html>
