
:root {
    --font-sans-serif: "Instrument Sans", sans-serif;;
    --black: #000000;
    --white: #ffffff;
    --gray-dark: #494b50;
    --gray-med: #73787e;
    --gray-light: #d0d2d4;
    --blue-dark: #073370;
    --blue-med: #0e5fd3;
    --blue-light: #95bff8;
}

body {
    background: #ffffff;
    color: var(--gray-med)
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
}

h1 {
    color: var(--gray-med);
    font-family: var(--font-sans-serif);
    font-size: 35px;
    text-transform: none;
    padding: 2px;
}

h2 {
    color: var(--blue-light);
    background-color: var(--blue-dark);
    font-family: var(--font-sans-serif);
    font-size: 35px;
    text-transform: uppercase;
    padding: 5px;
    letter-spacing: 2px;
}

a {
    color: var(--black);
    font-family: var(--font-sans-serif);
    text-transform: none;
    text-decoration: none;
    justify-content: space-between;
}

a:hover {
    color: var(--blue-med);
    font-family: var(--font-sans-serif);
    text-transform: none;
    text-decoration: none;
    justify-content: space-between;
}

img {
    display: center;
    position: relative;
    border-radius: 10px;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 5px;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    list-style: none;
    padding-top: 20px;
    text-align: left;
    margin: auto;
    justify-content: space-between;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.nav-bar--item {
    justify-content: space-between;
    margin: auto;
    display: flex;
    font-size: 12px;
    font-family: var(--font-sans-serif);
}

.container {
    background: var(--white);
    padding: 20px;
    max-width: 100%;
    margin: auto;
}

.logo {
    display: block;
    height: 60px;
    padding-left: 20px;
    font-size: 12px;
}

.memo-banner {
    display: block;
    padding: 2px;
    text-align: center;
    justify-content: space-between;
    background-color: v);
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

img {
    max-width: 50%;
    display: block;
}

.components__img {
    width: 1300px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1px;
}
.button--primary {
    background-color: transparent;
    border: .5px solid var(--black);
    border-radius: 0.5rem;
    width: 30px;
    padding: 6px;
    padding-top: 4px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
